body,
html {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #F5F5F5;
}
* {
    box-sizing: border-box;
}
body {
    margin: 20px auto;
}
.layout {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
}
div {
    border: 2px solid red;
    height: 50px;
    width: 100%;
    
}