body,
html {
    height: 100vh;
}
main {
    display: grid;
    gap: 10px;
    margin: 60px auto;
    height: 70%;
}
.small,
.big {
    border: 2px solid red;
}
.small {
    grid-column: 1 / span 2;
}
.big {
    grid-column: 3 / span 3;
}