body,
html {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #F5F5F5;
}
* {
    box-sizing: border-box;
}
main {
    display: grid;
    
}
div {
    border: 2px solid red;
    height: 100px;
    width: 100%;
}
.two {
    grid-column: 2;
    grid-row: 2;
}
.three {
    grid-column: 3;
    grid-row: 3;
}
.four {
    grid-column: 4;
    grid-row: 4;
}