body,
html {
    height: 100vh;
}
body {
    margin: 60px;
}
.layout {
    display: grid;
    gap: 10px;
    height: 70%;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: 
    ". header ."
    ". main ."
    ". footer .";
}
header,
main,
footer {
    border: 2px solid red;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}