* {
    box-sizing: border-box;
}
body {
    margin: 0 100px;
}
.title {
    font-size: 96px;
    line-height: 129px;
}
main {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.buttons,
.knight-damage {
    display: flex;
    gap: 20px;
}
button {
    padding: 14px 57px;
    background-color: #5B2F2F;
    color: white;
    border: none;
}
footer {
    display: none;
}

